NET "cba<0>"  LOC = P35 | IOSTANDARD = LVTTL;
NET "cba<1>"  LOC = P41 | IOSTANDARD = LVTTL;
NET "cba<2>"  LOC = P51 | IOSTANDARD = LVTTL;

NET "cs<0>"  LOC = P124 | IOSTANDARD = LVTTL | PULLDOWN;
NET "cs<1>"  LOC = P127 | IOSTANDARD = LVTTL | PULLDOWN;